extends layout

block content
  .page-title
      .title_left
        h3
          | Tables Data 
      .title_right
        .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default(type='button') Go!
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        h2
          | Monitoring Data 
          small Conditions of Plants
        ul.nav.navbar-right.panel_toolbox
          li
            a.collapse-link
              i.fa.fa-chevron-up
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              i.fa.fa-wrench
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Settings 1
              li
                a(href='#') Settings 2
          li
            a.close-link
              i.fa.fa-close
        .clearfix
      .x_content
        table#datatable.table.table-striped.table-bordered
          thead
            tr
              th No
              th Temperature (℃)
              th Humidity (%)
              th Soil Moisture (cbar)
              th Air Presure (kPa)
              th Date
          tbody
            each data, i in datakondisi
              tr
                td #{i+1}
                td #{data.temperature}
                td #{data.humidity}
                td #{data.soilmoisture}
                td #{data.airpressure}                    
                td #{data.time}

      //- .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            h2
              | Monitoring Data 
              small Conditions of Plants
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped

                tr
                  th No
                  th Temperature (℃)
                  th Humidity (kPa)
                  th Soil Moisture (cbar)
                  th Air Presure (%)
                  th Date
              
                each data, i in datakondisi
                  tr
                    td #{i+1}
                    td #{data.temperature}
                    td #{data.humidity}
                    td #{data.soilmoisture}
                    td #{data.airpressure}
                    td #{data.time}
      .clearfix
      //- .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            h2
              | Saved Volume
              small History for Action
            ul.nav.navbar-right.panel_toolbox
              li
                a.collapse-link
                  i.fa.fa-chevron-up
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Settings 1
                  li
                    a(href='#') Settings 2
              li
                a.close-link
                  i.fa.fa-close
            .clearfix
          .x_content
            table.table.table-striped.jambo_table.bulk_action

                tr
                  th No
                  th Temperature (℃)
                  th Humidity (kPa)
                  th Soil Moisture (cbar)
                  th Air Presure (%)
                  th Volume (mL)
                  th Date

                each data, i in datakondisi
                  tr
                    td #{i+1}
                    td #{data.temperature}
                    td #{data.humidity}
                    td #{data.soilmoisture}
                    td #{data.airpressure}
                    td #{data.airpressure}                    
                    td #{data.time}
      .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        h2
          | Saved Volume 
          small History for Action
        ul.nav.navbar-right.panel_toolbox
          li
            a.collapse-link
              i.fa.fa-chevron-up
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              i.fa.fa-wrench
            ul.dropdown-menu(role='menu')
              li
                a(href='#') Settings 1
              li
                a(href='#') Settings 2
          li
            a.close-link
              i.fa.fa-close
        .clearfix
      .x_content
        table#datatable.table.table-striped.table-bordered
          thead
            tr
              th No
              th Temperature (℃)
              th Humidity (%)
              th Soil Moisture (cbar)
              th Air Presure (kPa)
              th Volume (mL)
              th Date
          tbody
            each data, i in datakondisi
              tr
                td #{i+1}
                td #{data.temperature}
                td #{data.humidity}
                td #{data.soilmoisture}
                td #{data.airpressure}
                td #{data.volume}                    
                td #{data.time}
            